.loginForm {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.loginForm button {
    margin: 10px 0px;
}