<div class="row driver-seperator profile">
    <div class="col-md-12 profile-header">
        Profil Information <span class="fas fa-user"></span>
    </div>
    <div class="col-md-4">Navn <span class="color_red">*</span></div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileName" placeholder="Navn">
    </div>

    <div class="col-md-4"> Køn <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGender" id="radioMale" value="true">
            <label class="form-check-label" for="radioMale">Mand</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGender" id="radioFemale" value="false">
            <label class="form-check-label" for="radioFemale">Kvinde</label>
        </div>
    </div>

    <div class="col-md-4">Fødselsdag</div>
    <div class="col-md-8">
        <input type="Date" class="form-control" id="createProfileBirthday">
    </div>

    <div class="col-md-4">Tilmeldingsdato</div>
    <div class="col-md-8">
        <input type="Date" class="form-control" id="createProfileSignupDate">
    </div>


    <div class="col-md-4">Adresse</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileAddress" placeholder="Adresse">
    </div>

    <div class="col-md-4">By</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileCity" placeholder="By">
    </div>

    <div class="col-md-4">Telefonnummer</div>
    <div class="col-md-8">
        <input type="tel" maxlength="8" class="form-control" id="createProfilePhoneNumber" placeholder="Telefonnummer">
    </div>

    <div class="col-md-4">Email</div>
    <div class="col-md-8">
        <input type="email" class="form-control" id="createProfileEmail" placeholder="Email">
    </div>

    <div class="col-md-4">Licensnummer</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileLicense" placeholder="Licensnummer">
    </div>

    <div class="col-md-4">Gymnast <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGymnast" id="gymnastYes" value="true">
            <label class="form-check-label" for="gymnastYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGymnast" id="gymnastNo" value="false">
            <label class="form-check-label" for="gymnastNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Træner <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateCoach" id="coachYes" value="true">
            <label class="form-check-label" for="coachYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateCoach" id="coachNo" value="false">
            <label class="form-check-label" for="coachNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Dommer <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateJudge" id="judgeYes" value="true">
            <label class="form-check-label" for="judgeYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateJudge" id="judgeNo" value="false">
            <label class="form-check-label" for="judgeNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Må Fotograferes <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreatePhotoConsent" id="photoConsentYes" value="true">
            <label class="form-check-label" for="photoConsentYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreatePhotoConsent" id="photoConsentNo" value="false">
            <label class="form-check-label" for="photoConsentNo">Nej</label>
        </div>
    </div>
    <div class="col-md-12 text-muted"><span class="color_red">*</span> skal udfyldes</div>
    <div class="row editconfirm-padding driver-edit-savebtn col-md-12 justify-content-md-center">
        <button class="btn btn-success btnConfirmCreateProfile">Gem <i class="fas fa-check"></i></button>
        <button class="btn btn-secundary btnCancelCreateProfile">Annuller <i class=" fas fa-times"></i></button>
    </div>
</div>