<div class="row driver-seperator">
    <div class="col-md-12 profile-header">
        Profil Information <span class="fas fa-user"></span>
    </div>
    <div class="col-md-6">
        <div>Navn</div>
        <div>Køn</div>
        <div>Fødselsdagsdato</div>
        <div>Adresse</div>
        <div>By</div>
        <div>Telefonnummer</div>
        <div>Email</div>
        <div>Licensnummer</div>
        <div>Tilmeldt</div>
        <div>Registreret</div>
        <div>Må fotograferes</div>
        <div><b>Personen er:</b></div>
        <div>Gymnast</div>
        <div>Træner</div>
        <div>Dommer</div>
    </div>
    <div class="col-md-6">
        <div id="name"></div>
        <div id="gender"></div>
        <div id="birthday"></div>
        <div id="adress"></div>
        <div id="city"></div>
        <div id="phoneNumber"></div>
        <div id="email"></div>
        <div id="licenseNumber"></div>
        <div id="signupDate"></div>
        <div id="registrationDate"></div>
        <div id="photoConsent"></div>
        <br>
        <div id="isGymnast"></div>
        <div id="isCoach"></div>
        <div id="isJudge"></div>
    </div>
</div>
</div>