<div class="row driver-seperator profile">
    <div class="col-md-12 profile-header">
        Profil Information <span class="fas fa-user"></span>
    </div>
    <div class="col-md-4">Navn <span class="color_red">*</span></div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="editProfileName" placeholder="Navn">
    </div>

    <div class="col-md-4"> Køn <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditGender" id="radioMale" value="true">
            <label class="form-check-label" for="radioMale">Mand</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditGender" id="radioFemale" value="false">
            <label class="form-check-label" for="radioFemale">Kvinde</label>
        </div>
    </div>

    <div class="col-md-4">Fødselsdag</div>
    <div class="col-md-8">
        <input type="Date" class="form-control" id="editProfileBirthday">
    </div>

    <div class="col-md-4">Tilmeldingsdato</div>
    <div class="col-md-8">
        <input type="Date" class="form-control" id="editProfileSignupDate">
    </div>

    <div class="col-md-4">Adresse</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="editProfileAddress" placeholder="Adresse">
    </div>

    <div class="col-md-4">By</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="editProfileCity" placeholder="By">
    </div>

    <div class="col-md-4">Telefonnummer</div>
    <div class="col-md-8">
        <input type="tel" maxlength="8" class="form-control" id="editProfilePhoneNumber" placeholder="Telefonnummer">
    </div>

    <div class="col-md-4">Email</div>
    <div class="col-md-8">
        <input type="email" class="form-control" id="editProfileEmail" placeholder="Email">
    </div>

    <div class="col-md-4">Licensnummer</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="editProfileLicense" placeholder="Licensnummer">
    </div>

    <div class="col-md-4">Gymnast <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditGymnast" id="gymnastYes" value="true">
            <label class="form-check-label" for="gymnastYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditGymnast" id="gymnastNo" value="false">
            <label class="form-check-label" for="gymnastNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Træner <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditCoach" id="coachYes" value="true">
            <label class="form-check-label" for="coachYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditCoach" id="coachNo" value="false">
            <label class="form-check-label" for="coachNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Dommer <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditJudge" id="judgeYes" value="true">
            <label class="form-check-label" for="judgeYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditJudge" id="judgeNo" value="false">
            <label class="form-check-label" for="judgeNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Må Fotograferes <span class="color_red">*</span></div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditPhotoConsent" id="photoConsentYes" value="true">
            <label class="form-check-label" for="photoConsentYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioEditPhotoConsent" id="photoConsentNo" value="false">
            <label class="form-check-label" for="photoConsentNo">Nej</label>
        </div>
    </div>

    <div class="col-md-12 text-muted"><span class="color_red">*</span> skal udfyldes</div>
    <div class="row editconfirm-padding driver-edit-savebtn col-md-12 justify-content-md-center">
        <button class="btn btn-success btnConfirmProfileChanges">Gem <i class="fas fa-check"></i></button>
        <button class="btn btn-secundary btnCancelCreateProfile">Annuller <i class=" fas fa-times"></i></button>
        <button class="btn btn-danger btnDeleteProfile">Slet <i class="fas fa-trash-alt"></i></button>
    </div>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            Er du sikker på du vil slette?
            <!-- <span class="closeModal"></span> -->
        </div>
        <div class="modal-body">
            <button type="submit" class="btn btn-secundary savebtn closeModal" id="cancelDeleteBtn">Annuller <i
                    class="fas fa-times"></i></button>
            <button type="submit" class="btn btn-danger savebtn closeModal" id="confirmDeleteBtn">Slet <i
                    class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>