<div class="row">
    <div class="col-md-5 event-box-color">
        <div class="event-date">Dato</div>
        <div class="event-name"> Navn</div>
        <div class="event-location"> Sted</div>
    </div>
    <div class="col-md-6">
        <div class="event-information address"> Adresse</div>
        <div class="event-information time"> Start</div>
        <div class="event-information gymnasts"> Springere ?</div>
        <div class="event-information volunteers"> Trænere ? - Dommere ?</div>
        <div class="event-information driving"> Køreplan <span class="fas fa-check"></span></div>
    </div>
    <div class="col-md-1 override-padAndMargin"><i class="far fa-edit"></i></div>
</div>
