<form name="eventForm">
    <fieldset>
        <legend>Opret Stævne</legend>
        <div class="form-group edit-event-form">
            <label for="createStartDate">Startdato</label>
            <input type="date" class="form-control" id="createStartDate" aria-describedby="createStartDate"
                   placeholder="indsæt start dato">
        </div>
        <div class="form-group edit-event-form">
            <label for="createEndDate">Slutdato</label>
            <input type="date" class="form-control" id="createEndDate" placeholder="Indsæt slut dato">
        </div>

        <div class="form-group edit-event-form">
            <label for="createStartTime">Startstidspunkt</label>
            <input type="time" class="form-control" id="createStartTime" placeholder="Start tidspunkt">
        </div>

        <div class="form-group edit-event-form">
            <label for="createEventName">Konkurrence navn</label>
            <input type="text" class="form-control" id="createEventName" placeholder="Indsæt Konkurrence navn">
        </div>
        <div class="form-group edit-event-form">
            <label for="createEventAdress">Adresse</label>
            <input type="text" class="form-control" id="createEventAdress" placeholder="Indsæt adresse">
        </div>

        <div class="form-group edit-event-form">
            <label for="createEventTown">By</label>
            <input type="text" class="form-control" id="createEventTown" placeholder="Indsæt by">
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="createEventCoaches">Antal trænere</label>
                    <input type="number" class="form-control" id="createEventCoaches" placeholder="Antal trænere">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="createEventJudges">Antal Dommere</label>
                    <input type="number" class="form-control" id="createEventJudges" placeholder="Antal dommere">
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="row editconfirm-padding">
    <button type="submit" id="btnSaveNewEvent" class="btn btn-success savebtn">Gem <i class="fas fa-check"></i>
    </button>
    <button type="submit" id="btnCancelCreateEvent" class="btn btn-secundary savebtn">Annuller <i class="fas fa-times"></i></button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            Er du sikker på du vil slette?
            <!-- <span class="closeModal"></span> -->
        </div>
        <div class="modal-body">
            <button type="submit" class="btn btn-secundary savebtn closeModal">Annuller <i
                    class="fas fa-times"></i></button>
            <button type="submit" class="btn btn-danger savebtn closeModal" id="">Slet <i
                    class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>