<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <!--<button type="button" class="btn btn-block btn-outline-primary createEventBtn">17/18</button>-->
    <div class="btn-group" role="group">
        <button id="selectSeason" type="button" class="btn btn-outline-primary dropdown-toggle createEventBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">17/18</button>
        <div id="seasonSpawn" class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start">
        </div>
    </div>
</div>