<div class="row driver-seperator profile">
    <div class="profile-header">
        Profil Information <span class="fas fa-user"></span>
    </div>
    <div class="col-md-4">Fornavn</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileFirstName" placeholder="Fornavn">
    </div>

    <div class="col-md-4">Efternavn</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileLastName" placeholder="Efternavn">
    </div>

    <div class="col-md-4"> Køn</div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGender" id="radioMale" value="Mand">
            <label class="form-check-label" for="radioMale">Mand</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGender" id="radioFemale" value="Kvinde">
            <label class="form-check-label" for="radioFemale">Kvinde</label>
        </div>
    </div>

    <div class="col-md-4">Fødselsdag</div>
    <div class="col-md-8">
        <input type="Date" class="form-control" id="createProfileBirthday">
    </div>

    <div class="col-md-4">Adresse</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileAddress" placeholder="Adresse">
    </div>

    <div class="col-md-4">Kommune</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileCommune" placeholder="Kommune">
    </div>

    <div class="col-md-4">Postnummer</div>
    <div class="col-md-8">
        <input type="tel" maxlength="4" class="form-control" id="createProfilePostalCode" placeholder="Postnummer">
    </div>

    <div class="col-md-4">Telefonnummer</div>
    <div class="col-md-8">
        <input type="tel" maxlength="8" class="form-control" id="createProfilePhoneNumber" placeholder="Telefonnummer">
    </div>

    <div class="col-md-4">Email</div>
    <div class="col-md-8">
        <input type="email" class="form-control" id="createProfileEmail" placeholder="Email">
    </div>

    <div class="col-md-4">License nummer</div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="createProfileLicense" placeholder="License">
    </div>

    <div class="col-md-4">Gymnast</div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGymnast" id="gymnastYes" value="true">
            <label class="form-check-label" for="gymnastYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateGymnast" id="gymnastNo" value="false">
            <label class="form-check-label" for="gymnastNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Træner</div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateCoach" id="coachYes" value="true">
            <label class="form-check-label" for="coachYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateCoach" id="coachNo" value="false">
            <label class="form-check-label" for="coachNo">Nej</label>
        </div>
    </div>

    <div class="col-md-4">Dommer</div>
    <div class="col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateJudge" id="judgeYes" value="true">
            <label class="form-check-label" for="judgeYes">Ja</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCreateJudge" id="judgeNo" value="false">
            <label class="form-check-label" for="judgeNo">Nej</label>
        </div>
    </div>

    <div class="row editconfirm-padding driver-edit-savebtn col-md-12 justify-content-md-center">
        <button class="btn btn-success btnConfirmCreateProfile">Gem <i class="fas fa-check"></i></button>
        <button class="btn btn-secundary btnCancelCreateProfile">Annuller <i class=" fas fa-times"></i></button>
    </div>
</div>
