<div class="row driver-seperator">
    <div class="profile-header">
        Profil Information <span class="fas fa-user"></span>
    </div>
    <div class="col-md-6">
        <div>Fornavn</div>
        <div>Efternavn</div>
        <div>Køn</div>
        <div>Fødselsdagsdato</div>
        <div>Adresse</div>
        <div>Kommune</div>
        <div>Postnummer</div>
        <div>Telefonnummer</div>
        <div>Email</div>
        <div>License Nummer</div>
        <div>Tilmeldt</div>
        <div><b>Personen er:</b></div>
        <div>Gymnast</div>
        <div>Træner</div>
        <div>Dommer</div>
    </div>
    <div class="col-md-6">
        <div id="firstname"></div>
        <div id="lastname"></div>
        <div id="gender"></div>
        <div id="birthday"></div>
        <div id="adress"></div>
        <div id="majorCity"></div>
        <div id="zipcode"></div>
        <div id="phoneNumber"></div>
        <div id="email"></div>
        <div id="licenseNumber"></div>
        <div id="memberSince"></div>
        <br>
        <div id="isGymnast"></div>
        <div id="isCoach"></div>
        <div id="isJudge"></div>
    </div>
</div>
</div>

