<form name="eventForm">
    <fieldset>
        <legend>Rediger begivenhed</legend>
        <div class="form-group edit-event-form">
            <label for="editStartDate">Startdato</label>
            <input type="date" class="form-control" id="editStartDate" aria-describedby="startDate"
                   placeholder="indsæt start dato">
        </div>
        <div class="form-group edit-event-form">
            <label for="editEndDate">Slutdato</label>
            <input type="date" class="form-control" id="editEndDate" placeholder="indsæt slut dato">
        </div>

        <div class="form-group edit-event-form">
            <label for="editStartTime">Startstidspunkt</label>
            <input type="time" class="form-control" id="editStartTime" placeholder="starts tidspunkt">
        </div>

        <div class="form-group edit-event-form">
            <label for="editEventName">Konkurence navn</label>
            <input type="text" class="form-control" id="editEventName" placeholder="indsæt Konkurence navn">
        </div>
        <div class="form-group edit-event-form">
            <label for="editEventAdress">Adresse</label>
            <input type="text" class="form-control" id="editEventAdress" placeholder="indsæt adresse">
        </div>

        <div class="form-group edit-event-form">
            <label for="editEventTown">By</label>
            <input type="text" class="form-control" id="editEventTown" placeholder="indsæt by">
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="editEventCoaches">Antal trænere</label>
                    <input type="number" class="form-control" id="editEventCoaches" placeholder="Antal trænere">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="editEventJudges">Antal Dommere</label>
                    <input type="number" class="form-control" id="editEventJudges" placeholder="Antal dommere">
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="row editconfirm-padding">
    <button type="submit" id="btnSaveEventChanges" class="btn btn-success savebtn">Gem <i class="fas fa-check"></i>
    </button>
    <button type="submit" id="btnCancelCreateEvent" class="btn btn-secundary savebtn">Annuller <i class="fas fa-times"></i></button>
    <!-- Trigger/Open The Modal -->
    <button class="btn btn-danger savebtn" id="modalBtn">Slet <i class="fas fa-trash-alt"></i></button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            Er du sikker på du vil slette?
            <!-- <span class="closeModal"></span> -->
        </div>
        <div class="modal-body">
            <button type="submit" class="btn btn-secundary savebtn closeModal" id="cancelDeleteBtn">Annuller <i
                    class="fas fa-times"></i></button>
            <button type="submit" class="btn btn-danger savebtn closeModal" id="confirmDeleteBtn">Slet <i
                    class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>