<a class="navbar-brand navbar-brand-override" href="#">
    <img class="springTeamLogo" src="img/springTeamLogo3.png">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-md-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <a class="nav-link navbarLinkSize" href="../admin/Event-springere.html">
            <i class="far fa-calendar-alt"></i> Stævner
            <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link navbarLinkSize" href="../admin/members.html"> <i class="fas fa-user-circle"></i> Medlemmer</a>
        <a class="nav-link navbarLinkSize" href="#"> <i class="fas fa-users"></i> Hold</a>
        <a class="nav-link navbarLinkSize" href="../admin/charts.html"> <i class="fas fa-car-alt"></i>
            Sæsonkøreplan</a>
    </ul>
</div>