<div class="row">
    <div class="col-md-3 sub-navbar-offset">
        <i class="fas fa-search"></i>
        søg
    </div>
    <div class="col-md-9 sub-navbar-tabs">
        <div class="row">
            <a id="GymnastsSubNav" class="col-md-2 sub-navbar-link offset-md-1 sub-navbar-link-selected"> Springere </a>
            <a id="CoachesSubNav" class="col-md-2 sub-navbar-link"> Trænere </a>
            <a id="JudgesSubNav" class="col-md-2 sub-navbar-link"> Dommere </a>
            <a id="TeamsSubNav" class="col-md-2 sub-navbar-link"> Holdene </a>
            <a id="ScheduleSubNav" class="col-md-2 sub-navbar-link"> Køreplan </a>
        </div>
    </div>
</div>

<table class="table table-sm table-striped gymnast-table">
    <thead>
    <tr>
        <th scope="col">Deltager</th>
        <th scope="col">Navn</th>
        <th scope="col">License</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>