<div class="row driver-seperator">
    <div class="col-md-12 driver-edit-header"> Dancup - 10. December </div>
    <div class="col-md-6">
        <div class="card border-secondary driver-edit col-md-12">
            <div class="card-header">Bil 1</div>
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-car-alt"></i> Matilde <i class="fas fa-times floatRight"></i></h4>
                <table class="table driverTable">
                    <tbody>
                    <tr>
                        <td>Marcus Olsen <i class="fas fa-times floatRight fa-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Marcus Olsen <i class="fas fa-times floatRight fa-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Marcus Olsen <i class="fas fa-times floatRight fa-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Marcus Olsen <i class="fas fa-times floatRight fa-2x"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card border-secondary driver-edit col-md-12">

            <div class="card-body">

                <table class="table driverTable">
                    <tbody>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Marcus Olsen</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Marcus Olsen</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Marcus Olsen</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Marcus Olsen</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="driver-edit-btns">
            <button type="button" class="btn btn-success btn-block">Tilføj som chauffør</button>
            <button type="button" class="btn btn-success btn-block">Tilføj som passager</button>
        </div>


    </div>

    <div class="row editconfirm-padding driver-edit-savebtn col-md-12 justify-content-md-center">
        <button class="btn btn-success">Gem <i class="fas fa-check"></i></button>
        <button class="btn btn-secundary">Annuller <i class=" fas fa-times"></i></button>
        <button class="btn btn-danger">Slet <i class="fas fa-trash-alt"></i></button>
    </div>

</div>