<div class="row">
    <div class="col-md-3 sub-navbar-offset">
        <input class="form-control searchbox" id="myInput" type="text" placeholder="&#xF002; Søg..">
    </div>
    <div class="col-md-9 sub-navbar-tabs">
        <div class="row">
            <a id="GymnastsSubNav" class="col-md-2 sub-navbar-link offset-md-1 sub-navbar-link-selected"> Springere </a>
            <a id="CoachesSubNav" class="col-md-2 sub-navbar-link"> Trænere </a>
            <a id="JudgesSubNav" class="col-md-2 sub-navbar-link"> Dommere </a>
            <a id="TeamsSubNav" class="col-md-2 sub-navbar-link"> Holdene </a>
            <a id="ScheduleSubNav" class="col-md-2 sub-navbar-link"> Køreplan </a>
        </div>
    </div>
</div>

<div id="table_area"></div>