<table id="FormattedTable" class="table table-sm table-bordered text-nowrap mb-0" cellspacing="0"
       width="100%">
    <thead>
    <tr>
        <th class="th-sm" scope="col">Deltager</th>
        <th scope="col">Navn</th>
        <th scope="col">Licens</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody class="myTable">
    </tbody>
</table>