.navbarColor {
  background-color: #eaeaea;
  /* #5481ff */
  padding: 0rem 1.5rem;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #000;
}

.navbarLinkSize {
  padding: 4px 62px !important;
  color: #000;
  font-size: 20px;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: black;
}

.navbarLinkSize:hover {
  color: rgb(0, 164, 224);
}

.navbarLinkSize:last-child {
  border-right-width: 1px;
}

.springTeamLogo {
  height: 60px;
  width: 200px;
}

.navbar-brand-override {
  padding: 0px 0px;
}

.event-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  /* height: 125px; */
  width: 100%;
  margin: 10px 2px;
}

.event-box-selected {
  background-color: rgba(117, 202, 235, 0.65) !important;
}

.event-box:hover {
  background-color: rgba(117, 202, 235, 0.2);
}

.event-date {
  font-size: 25px;
  font-weight: 550;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-box-color {
  color: rgba(0, 0, 0, 0.75);
  padding: 5px 0px 0px 20px;
}
.event-name {
  font-size: 25px;
  font-weight: 550;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-location {
  font-size: 15px;
  font-weight: 550;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-information {
  font-family: tahoma, Helvetica, sans-serif;
}

.override-padAndMargin {
  padding: 0px;
  margin: 0px;
}

.editconfirm-padding {
  padding-left: 15px;
}

.savebtn {
  margin-right: 25px;
  width: 150px;
}

.edit-event-form {
  margin-bottom: 8px;
}

/* modal test */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.save-message {
  padding: 5px 0px;
  background-color: #aad15c;
  position: absolute;
  font-size: 22px;
  text-align: center;
  z-index: 1;
  display: none;
  opacity: 1;
  transition: opacity 2s ease-in;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.driverCard {
  margin: 10px 10px;
  padding: 0px 0px;
}

.driverTable {
  font-size: 80%;
}

.tableStyle {
  padding: 0.25rem;
}

.driverTabel > tbody > tr > td {
  padding: 0.25rem;
}

.table td,
table th {
  padding: 0.15rem;
}

.text-centrum {
  display: flex;
  margin: auto;
}

.verticalCentrum {
  text-align: center;
  margin: auto;
}
.verticalCentrum:hover {
  color: green;
}

.table td,
table th {
}

.sub-navbar-tabs{
  margin: 5px 0px 0px 0px;
  /* border-width: 1px;
  border-style: dashed; */
  text-align: center;

}

.sub-navbar-offset{
  margin: 5px -10px 0px 10px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 10px;
  text-align: left; 
  font-size: 18px;
}

.sub-navbar-link{

  padding: 5px 0px;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-radius: 20px; 
  border-color: #000; 
}

.sub-navbar-link-selected{
  background-color:#eaeaea; 
}
.sub-navbar-link:hover{
  background-color:#eaeaea; 
}

.gymnast-table{
  margin: 15px 0px 0px 0px;

}

.gymnast-table tbody tr:hover {
  background-color: rgb(0, 164, 224);
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:#000; 
}

.bootsWatchDropdown{
  position: absolute;
  transform: translate3d(0px, 37px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.attendenceBtn{
  padding: 0px 2px;
}

.gymnast-copied{
  background-color: darkgrey !important;
}

.scrollVertical {
  display:block;
  width: 1000px;
  overflow: auto;
  height: 600px;
}
