<form name="eventForm">
    <fieldset>
        <legend>Rediger event</legend>
        <div class="form-group edit-event-form">
            <label for="startDate">Startdato</label>
            <input type="date" class="form-control" id="startDate" aria-describedby="startDate"
                   placeholder="indsæt start dato">
        </div>
        <div class="form-group edit-event-form">
            <label for="endDate">Slutdato</label>
            <input type="date" class="form-control" id="endDate" placeholder="indsæt slut dato">
        </div>

        <div class="form-group edit-event-form">
            <label for="starttime">Startstidspunkt</label>
            <input type="time" class="form-control" id="starttime" placeholder="starts tidspunkt">
        </div>

        <div class="form-group edit-event-form">
            <label for="name">Konkurence navn</label>
            <input type="text" class="form-control" id="name" placeholder="indsæt Konkurence navn">
        </div>
        <div class="form-group edit-event-form">
            <label for="adress">Adresse</label>
            <input type="text" class="form-control" id="adress" placeholder="indsæt adresse">
        </div>

        <div class="form-group edit-event-form">
            <label for="town">By</label>
            <input type="text" class="form-control" id="town" placeholder="indsæt by">
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="coaches">Antal trænere</label>
                    <input type="number" class="form-control" id="coaches" placeholder="Antal trænere">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group edit-event-form">
                    <label for="judges">Antal Dommere</label>
                    <input type="number" class="form-control" id="judges" placeholder="Antal dommere">
                </div>
            </div>
        </div>


    </fieldset>
</form>
<div class="row editconfirm-padding">
    <button type="submit" id="btnSaveChange" class="btn btn-success savebtn">Gem <i class="fas fa-check"></i>
    </button>
    <button type="submit" id="btnCancelCreateEvent" class="btn btn-secundary savebtn">Annuller <i class="fas fa-times"></i></button>
    <!-- Trigger/Open The Modal -->
    <button class="btn btn-danger savebtn" id="modalBtn">Slet <i class="fas fa-trash-alt"></i></button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            Er du sikker på du vil slette?
            <!-- <span class="closeModal"></span> -->
        </div>
        <div class="modal-body">
            <button type="submit" class="btn btn-secundary savebtn closeModal">Annuller <i
                    class="fas fa-times"></i></button>
            <button type="submit" class="btn btn-danger savebtn closeModal" id="">Slet <i
                    class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>