<div class="row">
    <div class="col-md-3 sub-navbar-offset">
        <input class="form-control searchbox" id="myInput" type="text" placeholder="&#xF002; Søg..">
    </div>
    <div class="col-md-9 sub-navbar-tabs">
        <div class="row">
            <a id="GymnastsSubNav" class="col-md-3 sub-navbar-link offset-md-1 sub-navbar-link-selected"> Springere </a>
            <a id="CoachesSubNav" class="col-md-3 sub-navbar-link"> Trænere </a>
            <a id="JudgesSubNav" class="col-md-3 sub-navbar-link"> Dommere </a>
        </div>
    </div>
</div>

<table id="FormattedTable" class="table table-sm table-bordered text-nowrap mb-0" cellspacing="0"
       width="100%">
    <thead>
    <tr>
        <th scope="col">Navn</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
        <th scope="col">Hold</th>
    </tr>
    </thead>
    <tbody class="myTable">
    </tbody>
</table>