.navbarColor {
  background-color: #eaeaea;
  padding: 0rem 1.5rem;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #000;
}

.navbarLinkSize {
  padding: 4px 62px !important;
  color: #000;
  font-size: 20px;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: black;
}

.navbarLinkSize:hover {
  color: rgb(0, 164, 224);
}

.navbarLinkSize:last-child {
  border-right-width: 1px;
}

.springTeamLogo {
  height: 60px;
  width: 200px;
}

.navbar-brand-override {
  padding: 0px 0px;
}


/* theise 4 identical classes should be one, and should be handlet in an ID in the html */
.createEventBtn {
  margin: 5px 0px 0px 2px;
}

.editEventBtn {
  margin: 5px 0px 0px 2px;
}

.createProfileBtn {
  margin: 5px 0px 0px 2px;
}

.editProfileBtn {
  margin: 5px 0px 0px 2px;
}

.createEventBtn:hover {
  color: black;
  background-color: rgba(117, 202, 235, 0.65);
}

.event-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  margin: 10px 2px;
  padding-left: 5px;
}

.event-box-selected {
  background-color: rgba(117, 202, 235, 0.65) !important;
  /* this is important, so the hover class does not affect this */
}

.event-box:hover {
  background-color: rgba(117, 202, 235, 0.2);
}

.event-date {
  font-size: 25px;
  font-weight: 600;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-box-color {
  color: rgba(0, 0, 0, 0.75);
  padding: 5px 0px 0px 20px;
}

.event-name {
  font-size: 30px;
  font-weight: 600;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-location {
  font-size: 15px;
  font-weight: 600;
  font-family: tahoma, Helvetica, sans-serif;
}

.event-information {
  font-family: tahoma, Helvetica, sans-serif;
}

.override-padAndMargin {
  padding: 0px;
  margin: 0px;
}

.edit-event-form input {
  height: calc(2.25rem - 3px);
}

.editconfirm-padding {
  padding-left: 15px;
}

.savebtn {
  margin-right: 25px;
  width: 150px;
}

.edit-event-form {
  margin-bottom: 8px;
}

.profile input {
  height: 25px;
}

.profile select {
  padding: 0px 0px 0px 5px;
  height: 25px;
  width: 100% !important;
}

.profile-header {
  width: 100%;
  box-shadow: 0px 4px 2px grey;
  padding-left: 20px;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* modal test */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.save-message {
  padding: 5px 0px;
  background-color: #aad15c;
  position: absolute;
  font-size: 22px;
  text-align: center;
  z-index: 1;
  display: none;
  opacity: 1;
  transition: opacity 2s ease-in;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.driverCard {
  margin: 10px 10px;
  padding: 0px 0px;
}

.driverTable {
  font-size: 80%;
}

.tableStyle {
  padding: 0.25rem;
}

.driverTabel>tbody>tr>td {
  padding: 0.25rem;
}


.driver-seperator {
  border-width: 0px 0px 0px 0px;
  border-color: #000;
  border-style: solid;
  box-shadow: 6px 6px 3px grey;
  margin: 10px 0px 0px 0px;
  background-color: rgba(159, 194, 252, 0.6);
  overflow: auto;
}

.driver-edit-header {
  font-size: 25px;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: 400;
}

.driver-edit-savebtn button {
  width: 25%;
  margin: 10px 10px;
}

.driver-edit-savebtn .btn-secundary {
  background-color: #efefef;

}

.driver-edit {
  margin: 10px 0px;
  padding: 0px 0px;
}

.driver-edit-btns:last-child {
  margin-bottom: 15px;
}

.table td,
table th {
  padding: 0.15rem;
}

.text-centrum {
  display: flex;
  margin: auto;
}

.verticalCentrum {
  text-align: center;
  margin: auto;
}

.verticalCentrum:hover {
  color: green;
}

.sub-navbar-tabs {
  margin: 5px 0px 0px 0px;
  text-align: center;

}

.sub-navbar-offset {
  margin: 5px -15px 0px 15px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
}

.sub-navbar-offset:focus {
  box-shadow: #0b51c5;
}

.sub-navbar-link {

  padding: 5px 0px;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-radius: 20px;
  border-color: #000;
}

.sub-navbar-link-selected {
  background-color: #eaeaea;
}

.profile-selected {
  background-color: #eaeaea;
}

.sub-navbar-link:hover {
  background-color: #eaeaea;
}

.gymnast-table {
  margin: 15px 0px 0px 0px;

}

.gymnast-table tbody tr:hover {
  background-color: rgb(0, 164, 224);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}

.bootsWatchDropdown {
  position: absolute;
  transform: translate3d(0px, 37px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.attendenceBtn {
  padding: 0px 2px;
}

.gymnast-copied {
  background-color: darkgrey !important;
}

.scrollVertical {
  display: block;
  width: 1000px;
  overflow: auto;
  height: 600px;
}


/* controles the posistion of the culloms arrow */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  position: absolute;
  bottom: .5em;
  display: block;
  opacity: .3
}

/* descripe the arrows at each collum */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\f0de";
  font-family: FontAwesome;
  font-size: 1rem
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  content: "\f0dd";
  font-family: FontAwesome;
  right: 16px;
  font-size: 1rem
}


/* makes the cullom arrows black when chosen */
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0
}

.searchbox:focus {
  box-shadow: none;
}

.searchbox {
  border: none;
  padding: 0px;
  font-family: Tahoma, Helvetica, Sans-Serif, FontAwesome;
}

.events {
  overflow-y: auto;
  overflow-x: hidden;
}

/* When its flex and center, it centers both vertical and horizontal */
.loginForm {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.loginForm button {
  margin: 10px 0px;
}



/* The container for checkmarks */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0px;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 40%;
  height: 25px;
  width: 25px;
  background-color: rgb(108, 117, 125);
  border: 1px solid #ccc;
  border-radius: 7px;

}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: rgba(117, 202, 255, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 0px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.floatRight {
  float: right;
}

.color_red {
  color: rgb(255, 63, 0);
  font-weight: bold;
  padding-top: 5px;
}

.btnEdit {
  font-size: 20px;
  padding-top: 5px;
}

.requirement_met {
  color: green;
}

.requirement_not_met {
  color: red;
}